@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.magical-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.magical-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.magical-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #C026D3, #F0ABFC);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(139, 38, 242, 0.5);
}

.magical-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #D946EF, #FCF6BA);
}

.magical-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #C026D3 rgba(255, 255, 255, 0.05);
}

body {
  background-color: #020617;
}

.stars-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
}

.text-shimmer {
  background: linear-gradient(to right, #fcd34d 20%, #f9a8d4 40%, #fcd34d 60%, #f9a8d4 80%);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
